
.outbox{
	background-color: #fff;
}
/* 名片box */
.carboxbg{
	width: 100%;
	position: relative;
}
.carboxbgt{
	height: 1.6rem;
	width: 100%;
	background-color: #57b939;
}
.carboxbgb{
	height: 2rem;
	width: 100%;
	background-color: #fff;
}
.abcardbox{
	position: absolute;
	left: 0;
	right: 0;
	top: 0.3rem;
	width: 90%;
	border-radius: 0.2rem;
	margin: 0 auto;
	background-color: #fff;
	box-shadow: 0 0 0.2rem #b9b9b9;
}
.abcardboxt{
	width: 100%;
	border-bottom: 1px #eee dotted ;
}
.adcardboxtinner{
	padding: 0 0.2rem;
	box-sizing: border-box;
}
.adcardbtleft{
	width: 80%;
	float: left;
}
.adcardltt{
	font-size: 0.26rem;
	color: #999999;
	line-height: 0.6rem;
	margin-top: 0.3rem;
}
.adcardltm{
	font-size: 0.28rem;
	color: #3b3b3b;
	line-height: 0.5rem;
}
.adcardltb{
	font-size: 0.22rem;
	color: #999;
	line-height: 0.4rem;
	margin-bottom: 0.5rem;
}


.adcardbtright{
	width: 20%;
	float: left;
}
.adcardtx{
	margin-top: 0.5rem;
	height: 1rem;
	width: 1rem;
}

.abcardboxb{
	line-height: 0.8rem;
	font-size: 0.22rem;
	color: #999;
	width: 100%;
	padding: 0 0.2rem;
	box-sizing: border-box;
}
.abcardbbl{
	float: left;
}

/* 弹窗图标 */
/* .abcardbbr{
	float: right;
	box-sizing: border-box;
	display: block;
} */

.abcardbbr img{
	width: 0.4rem;
	height: 0.4rem;
	margin-top: 0.2rem;
}


.lxlistbox{
	width: 100%;
	padding:0 0.5rem;
	box-sizing: border-box;
	
}
.lxlistli{
	width: 100%;
	height: 0.8rem;
	position: relative;
	font-size: 0.24rem;
	color: #555;
	border-bottom: 1px solid #eee;
	line-height: 0.8rem;
}
.lxlistti{
	color: #757575;
}
.y_xllistlildiv{
	width: 80%;
	overflow: hidden;
	text-overflow:ellipsis;
	white-space: nowrap;
}
.lslistimga{
	display: block;
	position: absolute;
	right: 0;
	top: 0;
	bottom: 0;
	margin: auto 0;
	width: 0.55rem;
	height: 0.55rem;
}
.y_lxlistimg{
	width: 100%;
}


/* 轮播 */
.swiperbox {
	width: 100%;
	box-sizing: border-box;
}

.swiset {
	width: 100%;
}

.swiper_img {
	width: 100%;
}
/* 学校介绍 */
.schoolbox{
	width: 100%;
	padding: 0 0.38rem;
	box-sizing: border-box;
	margin-top: 0.5rem;
}
.schoolboxinner{
	width: 100%;
	border-radius: 0.08rem;
	box-sizing: border-box;
	box-shadow:  0 0 0.2rem #c4e7b9;
	padding: 0 0.4rem;
	padding-bottom: 0.3rem;
}
.schtitle{
	font-size: 0.32rem;
	width: 100%;
	text-align: center;
	color: #444;
	line-height: 0.85rem;
}
.bookpicbox{
	width: 100%;
	font-size: 0;
	text-align: center;
}
.bookpic{
	width: 1.8rem;
}
.schcon{
	font-size: 0.20rem;
	margin-top: 0.15rem;
	line-height: 0.4rem;
	color: #9e9e9e;
}
.titlep{
	width: 100%;
	padding-left: 0.4rem;
	box-sizing: border-box;
	font-size: 0.28rem;
	color: #8a8a8a;
	margin-top: 0.8rem;
}
.namecard{
	width: 100%;
	padding: 0 0.38rem;
	box-sizing: border-box;
	margin-top: 0.5rem;
}
.namecardinner{
	width: 100%;
}

.namecardp{
	color: #222222;
	font-size: 0.3rem;
}
.namecardlibox{
	width: 100%;
	padding: 0.3rem 0;
	box-sizing: border-box;
	border-bottom: 1px solid #eee;
	display: block;
	position: relative;
	overflow: hidden;
}
.namecardlibox:last-child{
	border-bottom: none;
}
.nameimgbox{
	width: 1.24rem;
	height: 1.24rem;
	overflow: hidden;
	border-radius: 0.05rem;
	float: left;
	margin-right:0.3rem;
}
.nameimgbox img{
	width: 100%;
	height: 100%;
}
.namemiddbox{
	float: left;
	width: 4.2rem;
}
.teaname{
	font-size: 0.26rem;
	color: #222;
	line-height: 0.6rem;
	
}
.goodtea{
	font-size: 0.22rem;
	color: #7d7d7d;
}
.telimg{
	position: absolute;
	right: 0;
	top: 0;
	width: 0.48rem;
	float: left;
	display: block;
	height: 0.52rem;
	bottom: 0;
	margin: auto 0;
	
}
/* 关于我 */
.cardaboutme{
	margin-top: 0.2rem;
	background-color: #FFFFFF;
	padding: 0 0.5rem;
}
.cardabout{
	font-size: 0.22rem;
	color: #7d7d7d;
	line-height: 0.8rem;
}
.cardaboub{
	font-size: 0.26rem;
	color: #222222;
	line-height: 0.45rem;
	padding-bottom:0.3rem ;
}


/* 技术支持 */
.jszc{
	width: 100%;
	height: 2.6rem;
	background-color: #EEE;
}
.jszc a{
	width: 100%;
	padding-top: 0.6rem;
	font-size: 0.26rem;
	text-align: center;
	color: #c1c1c1;
	display: block;
	width: 4rem;
	margin: 0 auto;
}
/*底部切换*/
.cfoot_tap {
	position: fixed;
	left: 0;
	bottom: 0;
	right: 0;
	margin: 0 auto;
	height: 1rem;
	padding: 0 0.3rem;
	box-sizing: border-box;	
	max-width: 7.5rem;
	width: 100%;
	border-top: 0.01rem solid #eee;
	display: flex;
	background-color: #FFFFFF;
	z-index: 999;
	overflow: hidden;
}
.cdetatelbox{
	float: left;
	width: 35%;
}

.cdetabtnbox{
	width: 65%;
	float: left;
	height: 1.2rem;
	line-height: 1.2rem;
	
}
.ctelbtn{
	width: 100%;
	display: block;
	height: 100%;
	margin-top: 0.1rem;
	font-size: 0.34rem;
	border-radius: 0.4rem;
	color: #000;
	width: 0.9rem;
	float: left;
	margin-right:0.2rem ;	
}
.ctelbtn:last-child{
	margin-right:0 ;
}

.ctelbtn img{
	width: 100%;
}

.clijibtn{
	width: 100%;
	display: block;
	margin-top: 0.1rem;
	height: 0.8rem;
	line-height: 0.8rem;
	font-size: 0.34rem;
	text-align: center;
	border-radius: 0.4rem;
	color: #fff;
	background-color: #56bb37;
}