
/* 表单 */

.formbox{
	padding: 0.15rem 0.2rem;
	box-sizing: border-box;
	width: 100%;
}
.formti{
	font-size: 0.28rem;
	color: #ff0000;
	line-height: 0.65rem;
	margin-bottom: 0.2rem;
}


.liuyan{
	margin-top: 0.15rem;
	width: 100%;
	resize: none;
	height: 3rem;
	border-radius: 0.05rem;
	color: #515151;
	font-size: 0.24rem;
	background-color: #f5f5f5;
	padding-left: 0.2rem;
	box-sizing: border-box;
	display: inline-block;
	border: none;
	outline: none;
	padding-top: 0.2rem;
	line-height: 0.4rem;
}


.liuyan::-webkit-input-placeholder {
	color: #d1d1d1;
	font-size: 0.24rem;
}

.liuyan::-ms-input-placeholder {
	color: #d1d1d1;
	font-size: 0.24rem;
}

.liuyan:-moz-placeholder {
	color: #d1d1d1;
	font-size: 0.24rem;
}

.liuyan::-moz-placeholder {
	color: #d1d1d1;
	font-size: 0.24rem;
}

.tijiao{
	width: 100%;
	margin: 0 auto;
	height: 0.9rem;
	line-height: 0.9rem;
	font-size: 0.28rem;
	color: #fff;
	background-color: #37be01;
	border-radius: 0.1rem;
	margin-top: 0.4rem;
}


/* 技术支持 */
.jszc{
	width: 100%;
	height: 2.6rem;
	background-color: #EEE;
}
.jszc p{
	width: 100%;
	padding-top: 0.6rem;
	font-size: 0.26rem;
	text-align: center;
	color: #c1c1c1;
}