{extend name="common/common"}
{block name='header'}
<link rel="stylesheet" type="text/css" href="__ROOT__/customer/css/details.css">
<style>
	.swiset img{
		max-height: 360px;
	}
</style>
{/block}
{block name='content'}
<div class="outbox">
	<!-- 轮播 -->
	<div class="swiperbox">
		<div class="swiper-container swiset">
			<ul class="swiper-wrapper">
				{empty name="detail.slider"}
				<li class="swiper-slide">
					<a href="#"><img class="swiper_img" src="__ROOT__/customer/img/swiper.png" /></a>
				</li>
				{/empty}
				{volist name="detail.slider" id="vo"}
				<li class="swiper-slide">
					<a href="#"><img class="swiper_img" src="{$vo}" /></a>
				</li>
				{/volist}
			</ul>
			<div class="swiper-pagination"></div>
		</div>
	</div>
	<!-- 课程 -->
	<div class="detaclassbox">
		<p class="detaboxpt">{$detail.name}</p>
		<p class="detaboxpm">{$detail.cat_name}</p>
		<div class="detaboxpb">
			<div class="detaboxpbl">
				<sapan>￥</sapan><span>{$detail.price_selling}</span>
			</div>
			<div class="detaboxpbr">
				<span>已预约： </span><span>{$detail.stock_sales}</span>
			</div>
		</div>
		<a class="sharbtn" href="javascript:;"><img class="sharbtnimg" src="__ROOT__/customer/img/shar.png" ></a>
	</div>
</div>
<!-- outboxbottom -->
<div class="outboxb">
	<div class="detaclassde">
		<div class="detaclassdeinner">课程详情</div>
	</div>
	<div class="detaclassjj" style="min-height: 300px;">
		<div class="detaclassjjinner">
			{:$detail.content}
		</div>
	</div>
</div>


<!-- 底部切换 -->
<div class="foot_tap" style="background-color: #fff">
	<div class="detatelbox">
		<a href="trl:{:sysconf('mobile')}" class="telbtn"><img src="__ROOT__/customer/img/tele.png" ></a>
	</div>
	<div class="detabtnbox">
		<a href="{:url('index/product/yuyue')}?id={$detail.id}" class="lijibtn">立即预约</a>
	</div>
</div>
{/block}
{block name='script'}
<script type="text/javascript">
	$(function() {
		// 轮播图
		var mySwiper = new Swiper('.swiper-container', {
			autoplay: 3000,
			pagination: '.swiper-pagination',
			paginationClickable: true,
			loop: true,
		})

	})
</script>
{/block}