<!DOCTYPE html>
<html lang="zh">
<head>
    <title>{block name="title"}{$title|default=''}{/block}</title>
    <meta charset="utf-8">
    <meta name="renderer" content="webkit">
    <meta name="format-detection" content="telephone=no">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1">
    <link rel="shortcut icon" href="{:sysconf('site_icon')}">

    <link rel="stylesheet" type="text/css" href="__ROOT__/customer/css/reset.css"/>
    <link rel="stylesheet" type="text/css" href="__ROOT__/customer/css/swiper.min.css"/>
    {block name="header"}{/block}
    {block name="style"}
    {/block}
    <style type="text/css">
        /* 在线答题 */
        .online_queans{
            position: fixed;
            right: 0;
            top:80% ;
            width: 0.8rem;
            height: 0.8rem;
            border-radius: 50%;
            background: linear-gradient(to bottom right,#3c7aff,#98c0ff);
            font-size: 0.2rem;
            text-align: center;
            /* line-height: 0.8rem; */
            overflow: hidden;
            min-width: 40px;
            min-height: 40px;
            padding-top: 0.11rem;
            box-sizing: border-box;
            color: #fff;
        }
    </style>
</head>
<body class="layui-layout-body">
{block name='body'}
<div class="layui-layout layui-layout-admin layui-layout-left-hide">
    <!-- 主体内容 开始 -->
    <div class="layui-body layui-bg-gray">{block name='content'}{/block}</div>

    <div class="jszc">
        <p>{:sysconf('site_copy')}</p>
    </div>

    <!-- 主体内容 结束 -->
    {if $is_show eq 1}
    <div class="foot_tap">
        <div class="topli">
            <a href="{:url('index/index')}">
                <?php if(empty($selected) || $selected == 1){ ?>
                <img class="footimg" src="__ROOT__/customer/img/tab11.png"/>
                <p class="footp footpacti">首页</p>
                <?php }else{ ?>
                <img class="footimg" src="__ROOT__/customer/img/tab1.png"/>
                <p class="footp">首页</p>
                <?php } ?>
            </a>
        </div>
        <div class="topli">
            <a href="{:url('index/index/intro')}">
                {if $selected eq 2}
                <img class="footimg" src="__ROOT__/customer/img/tab22.png"/>
                <p class="footp footpacti">本校概况</p>
                {else}
                <img class="footimg" src="__ROOT__/customer/img/tab2.png"/>
                <p class="footp">本校概况</p>
                {/if}
            </a>
        </div>
        <div class="topli">
            <a href="{:url('apply/index')}">
                {if $selected eq 3}
                <img class="footimg" src="__ROOT__/customer/img/tab33.png"/>
                <p class="footp footpacti">在线报名</p>
                {else}
                <img class="footimg" src="__ROOT__/customer/img/tab3.png"/>
                <p class="footp">在线报名</p>
                {/if}
            </a>
        </div>
        <div class="topli">
            <a href="{:url('personal/index')}">
                {if $selected eq 4}
                <img class="footimg" src="__ROOT__/customer/img/tab44.png"/>
                <p class="footp footpacti">我的</p>
                {else}
                <img class="footimg" src="__ROOT__/customer/img/tab4.png"/>
                <p class="footp">我的</p>
                {/if}
            </a>
        </div>
    </div>
    <!-- 在线答题 -->

    <a class="online_queans" href="{:url('index/questions/index')}">在线<br>答题</a>

    {/if}
</div>
{/block}
<script src="__ROOT__/static/plugs/layui/layui.all.js" type="text/javascript" charset="utf-8"></script>
<script src="__ROOT__/customer/js/jquery2.14.min.js" type="text/javascript" charset="utf-8"></script>
<script src="__ROOT__/customer/js/swiper.min.js" type="text/javascript" charset="utf-8"></script>
<script src="__ROOT__/customer/js/public.js" type="text/javascript" charset="utf-8"></script>

{block name='script'}{/block}
</body>
</html>
