{extend name="../../admin/view/main"}

{block name="button"}
<!--{if auth("remove")}-->
<button data-action='{:url("remove")}' data-rule="id#{key}" data-confirm="确定要删除这些留言吗？" class='layui-btn layui-btn-sm layui-btn-primary'>删除留言</button>
<!--{/if}-->
{/block}

{block name='content'}
<div class="think-box-shadow table-block">
    <p class=" margin-bottom-15">
        演示接口文档：<a target="_blank" href="http://www.docway.net/project/1WkI0ZyQ7M1/share/1Wld0z7b1zE">http://www.docway.net/project/1WkI0ZyQ7M1/share/1Wld0z7b1zE</a>
    </p>
    {include file='user_msg/index_search'}
    <table class="layui-table margin-top-10" lay-skin="line">
        {notempty name='list'}
        <thead>
        <tr>
            <th class='list-table-check-td think-checkbox'>
                <label><input data-auto-none data-check-target='.list-check-box' type='checkbox'/></label>
            </th>
            <th class="text-left nowrap">留言会员</th>
            <th class="text-left nowrap">留言内容</th>
            <th class="text-left nowrap">留言回复</th>
            <th class="text-left nowrap">创建时间</th>
            <th class="text-left nowrap">回复信息</th>
            <th class="text-left nowrap"></th>
        </tr>
        </thead>
        {/notempty}
        <tbody>
        {foreach $list as $key=>$vo}
        <tr data-dbclick>
            <td class='list-table-check-td think-checkbox'>
                <label><input class="list-check-box" value='{$vo.id}' type='checkbox'/></label>
            </td>
            <td class="text-left nowrap">{$vo.username|default=''}</td>
            <td class="text-left nowrap">{$vo.content|default=''}</td>
            <td class="text-left nowrap">{$vo.reply|default=''}</td>
            <td class="text-left nowrap">{$vo.create_at|format_datetime}</td>
            <td class="text-left nowrap">
                操作人：{$vo.reply_by}<br/>
                操作时间：{$vo.reply?$vo.reply_at|format_datetime:''}
            </td>
            <td class='text-left nowrap'>
                {if auth("edit")}
                <a data-dbclick class="layui-btn layui-btn-sm" data-title="编辑标签" data-modal="{:url('edit')}?id={$vo.id}">回 复</a>
                {/if}
                {if auth("remove")}
                <a class="layui-btn layui-btn-sm layui-btn-danger" data-confirm="确定要删除该标签吗？" data-action="{:url('remove')}" data-value="id#{$vo.id}">删 除</a>
                {/if}
            </td>
        </tr>
        {/foreach}
        </tbody>
    </table>
    {empty name='list'}<span class="notdata">没有记录哦</span>{else}{$pagehtml|raw|default=''}{/empty}
</div>
{/block}