{extend name="common/common"}
{block name='header'}
<link rel="stylesheet" type="text/css" href="__ROOT__/customer/css/card.css">
{/block}
{block name='content'}
<div class="outbox">
	<!-- 名片box -->
	<div class="carboxbg">
		<div class="carboxbgt"></div>
		<div class="carboxbgb"></div>
		<div class="abcardbox">
			<div class="abcardboxt">
				<div class="adcardboxtinner">
					<div class="adcardbtleft">
						<p class="adcardltt">这是私立学校模板</p>
						<p class="adcardltm">周老师</p>
						<p class="adcardltb">2020优秀教师</p>
					</div>
					<div class="adcardbtright"><img class="adcardtx" src="img/tximg.jpg" ></div>
					<div class="clear"></div>
				</div>
			</div>
			<div class="abcardboxb">
				<div class="abcardbbl">我的名片</div>
				<!-- 弹窗图标 -->
				<!-- <a href="#" class="abcardbbr"><img src="img/xcx.png" ></a> -->
			</div>
		</div>
		<div class="lxlistbox">
			<div class="lxlistli lxlistti">
				<div>联系我</div>
			</div>
			<div class="lxlistli">
				<div class="y_xllistlildiv">13888888888</div>
				<a class="lslistimga" href=""><img class="y_lxlistimg" src="img/phone.jpg" alt=""></a>
			</div>
			<div class="lxlistli">
				<div class="y_xllistlildiv">xxxx@gmail.com</div>
				<a class="lslistimga" href=""><img class="y_lxlistimg" src="img/email.jpg" alt=""></a>
			</div>
			<div class="lxlistli">
				<div class="y_xllistlildiv">XX省XX市XX县XX路XX号</div>
				<a class="lslistimga" href=""><img class="y_lxlistimg" src="img/adress.jpg" alt=""></a>
			</div>
			<div class="lxlistli">
				<div class="y_xllistlildiv">2222222222</div>
				<a class="lslistimga" href=""><img class="y_lxlistimg" src="img/wechat.jpg" alt=""></a>
			</div>
		</div>
	</div>
</div>
<!-- 关于我 -->
<div class="cardaboutme">
	<div class="cardabout">关于我</div>
	<div class="cardaboub">2020优秀教师</div>
</div>
<!-- 技术支持 -->
<div class="jszc">
	<a href="">点击制作我的名片</a>
</div>
<!-- 底部切换 -->
<div class="cfoot_tap">
	<div class="cdetatelbox">
		<a href="#" class="ctelbtn"><img src="img/fenx.jpg" ></a>
		<a href="#" class="ctelbtn"><img src="img/jig.jpg" ></a>
	</div>
	<div class="cdetabtnbox">
		<a href="#" class="clijibtn">保存到通讯录</a>
	</div>
</div>
{/block}
{block name='script'}

{/block}
