{extend name="common/common"}
{block name='header'}
<link rel="stylesheet" type="text/css" href="__ROOT__/customer/css/dati.css">
{/block}
{block name='content'}
<div class="datioutbox">
	<div class="datititle">在线答题</div>
	<div class="datiformbox">

		<form class="datiform" action="" method="post">
			<div class="firque">
				<div class="queli"><span class="bigspanfont">1.</span>水电费水电第三方师傅水电费水电费师傅师傅的师傅师傅师傅的第三方第三方师傅?()</div>
				<div class="quelibox quecheked"><label><input class="qeliint" type="radio" name="ti1" value="男" /><span class="spanlab"><span
						class="spans">A. </span>师傅师傅的师傅师傅的师傅师傅的师傅师傅师傅的第三</span></label></div>
				<div class="quelibox"><label><input class="qeliint" type="radio" name="ti1" /><span class="spanlab"><span class="spans">B.
									</span>123</span></label></div>
				<div class="quelibox"><label><input class="qeliint" type="radio" name="ti1" /><span class="spanlab"><span class="spans">C.
									</span>123</span></label></div>
				<div class="quelibox"><label><input class="qeliint" type="radio" name="ti1" /><span class="spanlab"><span class="spans">D.
									</span>123</span></label></div>
				<div class="anwbox">正确答案：C</div>
			</div>
			<div class="firque">
				<div class="queli"><span class="bigspanfont">2.</span>水电费水电费师傅师水电费水电费师傅师傅的师傅师傅师傅的第三方第三方师傅?()</div>
				<div class="quelibox quecheked"><label><input class="qeliint" type="radio" name="ti1" value="男" /><span class="spanlab"><span
						class="spans">A. </span>师傅师傅的师傅师傅的师傅师傅的师傅师傅师傅的第三</span></label></div>
				<div class="quelibox"><label><input class="qeliint" type="radio" name="ti2" /><span class="spanlab"><span class="spans">B.
									</span>123</span></label></div>
				<div class="quelibox"><label><input class="qeliint" type="radio" name="ti2" /><span class="spanlab"><span class="spans">C.
									</span>123</span></label></div>
				<div class="quelibox"><label><input class="qeliint" type="radio" name="ti2" /><span class="spanlab"><span class="spans">D.
									</span>123</span></label></div>
				<div class="anwbox">正确答案：C</div>
			</div>
			<input class="tijiaobtn" type="submit" name="" id="" value="提交" />
		</form>

	</div>
</div>
{/block}
{block name='script'}
<script type="text/javascript">
	$(function() {

		$(".quelibox").click(function() {

			// 下面这个改成获取input的选中状态然后填加quecheked样式
			$(".quelibox").removeClass("quecheked");
			$(this).addClass("quecheked");

			// anwbox默认为hide(),提交之后为show()
		})
	})
</script>
{/block}
