{extend name="common/common"}
{block name='header'}
<link rel="stylesheet" type="text/css" href="__ROOT__/customer/css/index.css">
{/block}
{block name='content'}
<div class="outbox">
    <!-- 搜索栏 -->
    <div class="searchbox">
        <a href="#">
            <input class="searinp" type="text" placeholder="请输入搜索内容" disabled="disabled" />
            <img class="searchimg" src="__ROOT__/customer/img/sou.png" />
        </a>
    </div>
    <!-- 分类 -->
    <div class="fenlei">
        {volist name="cates" id="vo" mod="10" length='10'}
        {eq name="mod" value="0"}<div class="fenleilibox">{/eq}

        <div class="fenleismabox">
            <a href="{:url('index/questions/answers')}?cate_id={$vo.id}">
                {empty name="vo.cover"}
                    <img src="__ROOT__/customer/img/01.png">
                {/empty}
                {notempty name="vo.cover"}
                    <img src="{$vo.cover}">
                {/notempty}
                <p class="setp">{$vo.name}</p>
            </a>
        </div>
        {eq name="mod" value="9"} </div><div class="clear"></div>{/eq}
        {/volist}
    </div>
    <!-- 轮播 -->
    <div class="swiperbox">
        <div class="swiper-container swiset">
            <ul class="swiper-wrapper">
                {empty name="slider"}
                <li class="swiper-slide">
                    <a href="javascript:;"><img class="swiper_img" src="__ROOT__/customer/img/swiper.png" /></a>
                </li>
                {/empty}

                {volist name="slider" id="vo" length='6'}
                    <li class="swiper-slide">
                        <a href="{$vo.rule}">
                            <img class="swiper_img" src="{$vo.img}" />
                        </a>
                    </li>
                {/volist}
            </ul>
            <div class="swiper-pagination"></div>
        </div>
    </div>
    <!-- 通知轮播 -->
    <div class="news">
        <div class="t_news">
            <ul class="news_li">
                <li>{$notice}</li>
            </ul>
            <ul class="swap"></ul>
            <img class="sound" src="__ROOT__/customer/img/sound.png">
        </div>
    </div>
    <!-- 图片广告 -->
    {notempty name="article"}
    <div class="titlet_div">
        <p class="titlep">本校热门文章</p>
        <a href="{:url('index/article/index')}">
            <span class="titlet_duo">更多>></span>
        </a>
    </div>
    {volist name="article" id="vo" length='10'}

    <div class="picadbox">
        <div class="picadleftbox">
            <a href="{:url('index/index/article')}?id={$vo.id}"><img src="{$vo.cover}"></a>
        </div>
        <div class="picadrightbox">
            <a href="#" class="picadrtop"><p class="y_indxeti">{$vo.name}</p></a>
            <a href="#" class="picadrbot"><p class="y_indexp">{$vo.remark}</p></a>
        </div>
        <div class="clear"></div>
    </div>
    {/volist}
    {/notempty}


    <div class="picadbox hide">
        {notempty name="article"}
        <div class="picadleftbox">
            <a href="{:url('index/index/article')}?id={$article.0.id}"><img src="{$article.0.cover}"></a>
        </div>
        {/notempty}
        <div class="picadrightbox">
            <?php if(count($article) > 1){  ?>
            <div class="picadrtop"><a href="{:url('index/index/article')}?id={$article.1.id}"><img src="{$article.1.cover}"></a></div>
            <?php } ?>
            <?php if(count($article) > 2){  ?>
            <div class="picadrtop"><a href="{:url('index/index/article')}?id={$article.2.id}"><img src="{$article.2.cover}"></a></div>
            <?php } ?>
        </div>
        <div class="clear"></div>
    </div>
    <!-- banner图 -->
    <div class="bannerbox">
        <div class="bannerboxinner"><img src="__ROOT__/customer/img/banner.jpg"></div>
    </div>
    <!-- 学校介绍 -->
    <div class="schoolbox">
        <div class="schoolboxinner">
            <p class="schtitle">{$app_name}</p>
            <div class="bookpicbox"><img class="bookpic" src="__ROOT__/customer/img/book.jpg"></div>
            <dic class="schcon">
                {$about.content|raw}
            </dic>
        </div>
    </div>
    <div class="titlet_div">
        <p class="titlep">本校热门课程</p>
        <a href="{:url('index/product/index')}">
            <span class="titlet_duo">更多>></span>
        </a>
    </div>

    <!-- 课程推荐 -->
    <div class="classbox">
        <div class="classboxinner">
            {volist name="product" id="vo" mod="2" length='10'}
            {eq name="mod" value="0"}<div class="classlibox">{/eq}
            <a href="{:url('index/product/details')}?id={$vo.id}">
                <div class="classsmaboxl">
                    <img src="{$vo.cover}">
                    <p class="classname">{$vo.name}</p>
                    <p class="classpri">￥<span>{$vo.price_selling}</span></p>
                    <p class="classyy">已预约: <span>{$vo.stock_sales}</span></p>
                </div>
            </a>
            {eq name="mod" value="1"} <div class="clear"></div>{/eq}
            {/volist}

        </div>
    </div>
    <div class="clear"></div>

</div>
{/block}

{block name='script'}
<script type="text/javascript">
    $(function() {
        // 轮播图
        var mySwiper = new Swiper('.swiper-container', {
            autoplay: 3000,
            pagination: '.swiper-pagination',
            paginationClickable: true,
            loop: true,
        })
        // 文字通知轮播
        $('.swap').html($('.news_li').html());
        x = $('.news_li');
        y = $('.swap');
        h = $('.news_li li').length * 20; //20为每个li的高度
        var hh = $('.news_li li').length;
        if (hh > 1)
        //setTimeout(b,3000);//滚动间隔时间 现在是3秒
            b();
        b();

        function b() {
            t = parseInt(x.css('top'));
            //alert(t)
            y.css('top', '20px');
            x.animate({
                top: t - 20 + 'px'
            }, 'slow'); //20为每个li的高度
            if (Math.abs(t) == h - 20) { //20为每个li的高度
                y.animate({
                    top: '0px'
                }, 'slow');
                z = x;
                x = y;
                y = z;
            }
            setTimeout(b, 3000); //滚动间隔时间 现在是3秒
        }
    })
</script>
{/block}

