{extend name="common/common"}
{block name='header'}
<link rel="stylesheet" type="text/css" href="__ROOT__/customer/css/search.css">
{/block}
{block name='content'}
<div class="seamain">
	<div class="seasebox">
		<div class="searchbox">
			<input class="searinp" type="text" placeholder="请输入搜索内容" />
			<img class="searchimg" src="img/sehui.jpg" />
		</div>
		<a href="#" class="quxiao">取消</a>
	</div>
	<p class="seati">推荐搜索</p>
	<div class="seabiaoq">
		<span>学校</span>
		<span>学校学校</span>
		<span>学校</span>
		<span>学校</span>
		<span>学校</span>
		<span>学校</span>
		<span>学校</span>
	</div>
</div>
{/block}
{block name='script'}

{/block}

